<H1> Projet 1 - SQL

<H3>Exercices du cours "Intermediate SQL"</H3>

1. Quelle est la durée du plus court film produit entre 1942 et 1968 inclus ?  

SELECT duration  
FROM cinema.films  
WHERE release_year BETWEEN 1942 AND 1968  
ORDER BY duration ASC  
LIMIT 5;  

Réponse : 68  

2. Quelle est la durée moyenne des films réalisés entre 1954 et 1967 inclus ?  

SELECT ROUND(AVG(duration),0) AS avg_duration  
FROM cinema.films  
WHERE release_year BETWEEN 1954 AND 1967;  

Réponse : 133 minutes  

3. Sur la période 1960-1970 (inclus) combien de langues distinctes ont elles été utilisées dans les films ?  

SELECT COUNT(DISTINCT language) AS count_distinct_language  
FROM cinema.films  
WHERE release_year BETWEEN 1960 AND 1970;  

Résultat : 4  

4. Comptez combien de films ont été produits après les années 2000 en Français ou en Espagnol  

SELECT COUNT(title) AS count_title  
FROM cinema.films  
WHERE language IN ('French', 'Spanish')  
AND release_year>2000;  

Résultat : 95  

5. Identifiez le film en langue Française ayant le plus rapporté d'argent entre 1990 et 1999 inclus  

SELECT title, MAX(gross) AS max_gross, language  
FROM cinema.films  
WHERE release_year BETWEEN 1990 AND 1999  
GROUP BY language, title  
HAVING language='French'  
ORDER BY max_gross DESC  
LIMIT 1;  

Résultat : The Red Violin, Gross=9473382  

6. Donnez 5 films en Anglais commencant par la lettre Z, toutes époques confondues  

SELECT cinema.films.title  
FROM cinema.films  
WHERE language='English'  
AND title LIKE 'Z%'  
LIMIT 5;  

Résultat :  
	
Zero Effect  
Zoolander  
Zathura: A Space Adventure  
Zoom  
Zodiac