<H1> Projet 1 - SQL

Cours SQL

Je n'ai pas suivi le cours "Introduction to SQL" mais j'ai déposé sur le Teams la preuve de l'obtention de l'examen du cours SQL au CNAM (cours NFA008). J'ai suivi le cours "Intermediate SQL", la preuve est jointe également sur le Teams.

Analyzing Business

"What and Where are the World's Oldest Businesses"
En cours

Exercices du cours "Intermediate SQL"

1. Quelle est la durée du plus court film produit entre 1942 et 1968 inclus ?

SELECT duration
FROM cinema.films
WHERE release_year BETWEEN 1942 AND 1968
ORDER BY duration ASC
LIMIT 5;

Réponse : 68

2. Quelle est la durée moyenne des films réalisés entre 1954 et 1967 inclus ?

SELECT ROUND(AVG(duration),0) AS avg_duration
FROM cinema.films
WHERE release_year BETWEEN 1954 AND 1967;

Réponse : 133 minutes

3.