In [75]:
# Statistiques

# importer les modules nécessaires
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from distinctipy import distinctipy
from matplotlib.font_manager import FontProperties
from matplotlib import rc
import numpy as np
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import ipywidgets as widgets
from IPython.display import clear_output, display

# Modifier les paramètres d'affichage de la sortie des commandes dans Jupyter
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 100)

# import de la police Garamond
garamond_font = FontProperties(fname="C:/Windows/Fonts/GARA.TTF",size=14)
timesnewroman_font = FontProperties(fname="C:/Windows/Fonts/TIMES.TTF",size=14)

Import des fichiers questionnaires et logs, et analyse

In [76]:
# lire le fichier csv dans un dataframe et afficher les colonnes
df_effec1 = pd.read_csv("data/stats/usages.effec1.csv",header=0,sep=",", low_memory=False)
df_effec2 = pd.read_csv("data/stats/usages.effec2.csv",header=0,sep=",", low_memory=False)
df_effec3 = pd.read_csv("data/stats/usages.effec3.csv",header=0,sep=",", low_memory=False)

df_quest1 = pd.read_csv("data/stats/effec1.quest.compil.csv",header=0,sep=",", low_memory=False,encoding = "ISO-8859-1")
df_quest2 = pd.read_csv("data/stats/effec2.quest.compil.csv",header=0,sep=",", low_memory=False,encoding = "ISO-8859-1")
df_quest3 = pd.read_csv("data/stats/effec3.quest.compil.csv",header=0,sep=",", low_memory=False,encoding = "ISO-8859-1")

On constate que les dataframe EFFEC ou QUEST n'ont pas le même nombre de colonnes. Il faut donc identifier les différences et ajouter dans chaques dataframes les colonnes manquantes

In [77]:
# Affichage des Shape des dataframes ainsi que des colonnes manquantes
print("Shape de EFFEC1: ",df_effec1.shape)
print("Shape de EFFEC2: ",df_effec2.shape)
print("Shape de EFFEC3: ",df_effec3.shape)

# Comparaison de EFFEC1 avec les autres
missing_colonnes_EFFEC1_EFFEC2 = set(df_effec1) - set(df_effec2)
print("dans 1 mais pas dans 2", missing_colonnes_EFFEC1_EFFEC2) #si vide pas de colonnes dans EFFEC1 absentes de EFFEC2
missing_colonnes_EFFEC1_EFFEC3 = set(df_effec1) - set(df_effec3)
print("dans 1 mais pas dans 3", missing_colonnes_EFFEC1_EFFEC3) #si vide pas de colonnes dans EFFEC1 absentes de EFFEC3

# Comparaison de EFFEC2 avec les autres
missing_colonnes_EFFEC2_EFFEC1 = set(df_effec2) - set(df_effec1)
print("dans 2 mais pas dans 1", missing_colonnes_EFFEC2_EFFEC1) #si vide pas de colonnes dans EFFEC2 absentes de EFFEC1
missing_colonnes_EFFEC2_EFFEC3 = set(df_effec2) - set(df_effec3)
print("dans 2 mais pas dans 3", missing_colonnes_EFFEC2_EFFEC3) #si vide pas de colonnes dans EFFEC2 absente de EFFEC3

# Comparaison de EFFEC3 avec les autres
missing_colonnes_EFFEC3_EFFEC1 = set(df_effec3) - set(df_effec1)
print("dans 3 mais pas dans 1",missing_colonnes_EFFEC3_EFFEC1) #si vide pas de colonnes dans EFFEC3 absentes de EFFEC1
missing_colonnes_EFFEC3_EFFEC2 = set(df_effec3) - set(df_effec2)
print("dans 3 mais pas dans 2", missing_colonnes_EFFEC3_EFFEC2) #si vide pas de colonnes dans EFFEC3 absentes de EFFEC2

Shape de EFFEC1:  (7965, 73)
Shape de EFFEC2:  (3798, 74)
Shape de EFFEC3:  (3883, 76)
dans 1 mais pas dans 2 set()
dans 1 mais pas dans 3 set()
dans 2 mais pas dans 1 {'Assignment.choice'}
dans 2 mais pas dans 3 set()
dans 3 mais pas dans 1 {'view.forum.fonc.cours', 'Post.forum.fonc.cours', 'Assignment.choice'}
dans 3 mais pas dans 2 {'view.forum.fonc.cours', 'Post.forum.fonc.cours'}

In [78]:
# Complétion de EFFEC1 et EFFEC2
df_effec1[["view.forum.fonc.cours", "Post.forum.fonc.cours","Assignment.choice"]]=None
df_effec2[["view.forum.fonc.cours", "Post.forum.fonc.cours"]]=None

Même travail d'alignement des colonnes sur les questionnaires

In [82]:
# Affichage des Shape des dataframes ainsi que des colonnes manquantes
print("Shape de QUEST1: ",df_quest1.shape)
print("Shape de QUEST2: ",df_quest2.shape)
print("Shape de QUEST3: ",df_quest3.shape)

# Comparaison de QUEST1 avec les autres
missing_colonnes_QUEST1_QUEST2 = set(df_quest1) - set(df_quest2)
print("dans 1 mais pas dans 2", missing_colonnes_QUEST1_QUEST2) #si vide pas de colonnes dans QUEST1 absentes de QUEST2
missing_colonnes_QUEST1_QUEST3 = set(df_quest1) - set(df_quest3)
print("dans 1 mais pas dans 3", missing_colonnes_QUEST1_QUEST3) #si vide pas de colonnes dans QUEST1 absentes de QUEST3

# Comparaison de QUEST2 avec les autres
missing_colonnes_QUEST2_QUEST1 = set(df_quest2) - set(df_quest1)
print("dans 2 mais pas dans 1", missing_colonnes_QUEST2_QUEST1) # si vide pas de colonnes dans QUEST2 absentes de QUEST1
missing_colonnes_QUEST2_QUEST3 = set(df_quest2) - set(df_quest3)
print("dans 2 mais pas dans 3", missing_colonnes_QUEST2_QUEST3) # si vide pas de colonnes dans QUEST2 absentes de QUEST3

# Comparaison de QUEST3 avec les autres
missing_colonnes_QUEST3_QUEST1 = set(df_quest3) - set(df_quest1)
print("dans 3 mais pas dans 1", missing_colonnes_QUEST3_QUEST1) # si vide pas de colonnes dans QUEST3 absentes de QUEST1
missing_colonnes_QUEST3_QUEST2 = set(df_quest3) - set(df_quest2)
print("dans 3 mais pas dans 2", missing_colonnes_QUEST3_QUEST2) # si vide pas de colonnes dans QUEST3 absentes de QUEST2

Shape de QUEST1:  (8986, 44)
Shape de QUEST2:  (4078, 44)
Shape de QUEST3:  (4233, 44)
dans 1 mais pas dans 2 set()
dans 1 mais pas dans 3 set()
dans 2 mais pas dans 1 set()
dans 2 mais pas dans 3 set()
dans 3 mais pas dans 1 set()
dans 3 mais pas dans 2 set()

In [83]:
# Complétion des QUEST
df_quest1[['Section', 'Mot', 'Current.Score', 'Proba.reco', 'EMLyon.et', 'EMLyon','Section', 'Certif.bin', 'age', 'EMLYON.et', 'EMLyon']]=None
df_quest2[["encad.diffic",'Certif.bin', 'EMLYON.et', 'age']]=None
df_quest3[['Plat.satisf', 'encad.disp', 'Eval.diffic', 'Estimated.hours', 'diffic','Mot', 'Current.Score', 'Satisf', 'entour.inter', 'Instit.brand', 'entour', 'encad.diffic', 'How.contact', 'motiv.princ', 'Part.labo', 'Proba.reco', 'EMLyon.et', 'Peer.eval.relev']]=None

Ajout d'une colonne itération pour conserver la trace du numéro d'itération

In [89]:
# Ajout colonne
df_effec1["iteration"]="effec1"
df_effec2["iteration"]="effec2"
df_effec3["iteration"]="effec3"
df_quest1["iteration"]="quest1"
df_quest2["iteration"]="quest2"
df_quest3["iteration"]="quest3"

Column bind des logs et questionnaires

In [103]:
# Column bind des logs et questionnaires
df1 = pd.merge(df_effec1,df_quest1,on='Student_ID',how='inner',suffixes=('_effec','_quest'))
df2 = pd.merge(df_effec2,df_quest2,on='Student_ID',how='inner',suffixes=('_effec','_quest'))
df3 = pd.merge(df_effec3,df_quest3,on='Student_ID',how='inner',suffixes=('_effec','_quest'))

(3515, 121)
      Student_ID  Exam.score  Exam.bin  Assignment.score  Assignment.bin  Quizz.1.score  \
0             15         NaN         0               NaN               0            NaN
1             34         NaN         0               NaN               0            NaN
2             88         NaN         0               NaN               0            NaN
3             95         NaN         0               NaN               0            NaN
4            118       38.45         1               NaN               0           17.1
...          ...         ...       ...               ...             ...            ...
3510       69306         NaN         0               NaN               0            5.9
3511       69416         NaN         0               NaN               0            NaN
3512       69565         NaN         0               NaN               0            NaN
3513       69567         NaN         0               NaN               0            NaN
3514       69683         NaN         0               NaN               0            NaN

      Quizz.1.bin  Quizz.2.score  Quizz.2.bin  Quizz.3.score  Quizz.3.bin  Quizz.4.bin  \
0               0            NaN            0            NaN            0            0
1               0            NaN            0            NaN            0            0
2               0            NaN            0            NaN            0            0
3               0            NaN            0            NaN            0            0
4               1      17.666667            1      16.666667            1            1
...           ...            ...          ...            ...          ...          ...
3510            1            NaN            0            NaN            0            0
3511            0            NaN            0            NaN            0            0
3512            0            NaN            0            NaN            0            0
3513            0            NaN            0            NaN            0            0
3514            0            NaN            0            NaN            0            0

      Quizz.4.score  Quizz.5.bin  Quizz.5.score  Intro.MOOC  Prez.sem.1  S1.L1  S1.L2  S1.L3  \
0               NaN            0            NaN         NaN           1      1      0      0
1               NaN            0            NaN         NaN           0      0      0      0
2               NaN            0            NaN         NaN           0      1      0      0
3               NaN            0            NaN         NaN           1      1      0      0
4              20.0            1           14.0         NaN           0      0      0      0
...             ...          ...            ...         ...         ...    ...    ...    ...
3510            NaN            0            NaN         NaN           0      0      0      0
3511            NaN            0            NaN         NaN           0      0      0      0
3512            NaN            0            NaN         NaN           1      0      1      1
3513            NaN            0            NaN         NaN           0      0      0      0
3514            NaN            0            NaN         NaN           0      0      0      0

      S1.L4  S1.L5  S1.L6  Prez.sem.2  S2.L1  ...  EMLyon  Country_HDI  Country_HDI.fin   age  \
0         0      0      0           0      0  ...     NaN          NaN              NaN   NaN
1         0      0      0           0      0  ...     NaN          NaN              NaN   NaN
2         0      0      0           0      0  ...     NaN          NaN              NaN   NaN
3         0      0      0           0      0  ...     NaN          NaN              NaN   NaN
4         0      0      0           0      0  ...     Non            H              H&M  38.0
...     ...    ...    ...         ...    ...  ...     ...          ...              ...   ...
3510      0      0      0           0      0  ...     NaN          NaN              NaN   NaN
3511      0      0      0           0      0  ...     NaN          NaN              NaN   NaN
3512      1      1      1           0      1  ...     Non           TH               TH  42.0
3513      0      0      0           0      0  ...     NaN          NaN              NaN   NaN
3514      0      0      0           0      0  ...     NaN          NaN              NaN   NaN

       CSP.fin              Temps.dispo.fin  Plat.satisf  encad.disp  Eval.diffic  \
0          NaN                          NaN         None        None         None
1          NaN                          NaN         None        None         None
2          NaN                          NaN         None        None         None
3          NaN                          NaN         None        None         None
4     Employés  Entre deux et quatre heures         None        None         None
...        ...                          ...          ...         ...          ...
3510       NaN                          NaN         None        None         None
3511       NaN                          NaN         None        None         None
3512  Employés   Entre quatre et six heures         None        None         None
3513       NaN                          NaN         None        None         None
3514       NaN                          NaN         None        None         None

      Estimated.hours  diffic   Mot  Current.Score  Satisf  entour.inter  Instit.brand  entour  \
0                None    None  None           None    None          None          None    None
1                None    None  None           None    None          None          None    None
2                None    None  None           None    None          None          None    None
3                None    None  None           None    None          None          None    None
4                None    None  None           None    None          None          None    None
...               ...     ...   ...            ...     ...           ...           ...     ...
3510             None    None  None           None    None          None          None    None
3511             None    None  None           None    None          None          None    None
3512             None    None  None           None    None          None          None    None
3513             None    None  None           None    None          None          None    None
3514             None    None  None           None    None          None          None    None

      encad.diffic  How.contact  motiv.princ  Part.labo  Proba.reco  EMLyon.et  Peer.eval.relev  \
0             None         None         None       None        None       None             None
1             None         None         None       None        None       None             None
2             None         None         None       None        None       None             None
3             None         None         None       None        None       None             None
4             None         None         None       None        None       None             None
...            ...          ...          ...        ...         ...        ...              ...
3510          None         None         None       None        None       None             None
3511          None         None         None       None        None       None             None
3512          None         None         None       None        None       None             None
3513          None         None         None       None        None       None             None
3514          None         None         None       None        None       None             None

      iteration_quest
0              quest3
1              quest3
2              quest3
3              quest3
4              quest3
...               ...
3510           quest3
3511           quest3
3512           quest3
3513           quest3
3514           quest3

[3515 rows x 121 columns]

# Simplification des questionnaires

In [92]:
print(df_quest1["Country_HDI"])

0       NaN
1        TH
2        TH
3        TH
4         B
       ...
8981      H
8982      H
8983    NaN
8984     TH
8985    NaN
Name: Country_HDI, Length: 8986, dtype: object